<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" parallel="tests">
    <listeners>
        <listener class-name="ru.rgs.WebTests.ErrorTestListener"/>
    </listeners>
    <!--<test name="remove">
            <classes>

            </classes>
    </test>-->

    <test name="test">

        <classes>
            <class name="ru.rgs.WebTests.bdd.agentStatement.OaTestsRun"/>
            <class name="ru.rgs.WebTests.bdd.agentStatement.OaDelRun"/>
            <!--<class name="ru.rgs.WebTests.testsJavaJava.DelAgentStatement"/>-->
            <class name="ru.rgs.WebTests.bdd.ExitBrowserRun"/>
            <!--<class name="ru.rgs.WebTests.testsJavaJava.AddAgentStatement"/>-->

        </classes>
    </test>


</suite>